html, body{
  width:1024px;
  height:768px;
}
.slider-wrapper {
  width:1024px;
  height:768px;
}

header {
  padding-bottom: 10px; }

#menu-module {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 25px;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  overflow: hidden;
  z-index: 3000; }

.view {
  width:1024px;
  height:768px;
}
.section-container, .slides-container img{
  width:1024px;
  height:768px;
}
.view section {
  width:1024px !important;
  height:768px !important;
}

section {
  display: none; 
}

section#loading img{
  padding: 0; 
  margin: 350px 0 0 0;
}
section.active {
  display: block !important; 
}


.view .slides-pagination{
  display: none;
}